%h5 Add Comment
= simple_form_for @comment do |f|
  = f.input :post_id, as: :hidden
  = f.input :content, label: false, input_html: { rows: 4 }, placeholder: 'Your comment...'
  = f.button :submit, 'Submit', class: 'button tiny'
