.large-12.columns
  %hr
  .large-6.columns
    %p &copy; 2014 &mdash; Go Blog
  .large-6.columns
    %p.right
      Made with
      %a{href: "#"} Foundation
      and
      %a{href: "#"} Ruby on Rails
